*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body{
    position: relative;
}

img.orange{
    position: absolute;
    top: -10vh;
    right: 0;
    z-index: -1;
    width: 55vw;
    height: 150vh;
}

header{
    nav{
        width: 100%;
        padding: 2rem;
        ul{
            width: 70%;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            li{
                font-size: 2rem;
                a{
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: yellowgreen;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

main{
    display: flex;
    flex-wrap: wrap;
    section.left{
        flex: 3 1 500px;
        padding: 2rem;

        h1{
            font-size: 4rem;
            color: #e08958;
        }

        p{
            font-size: 1.5rem;
            padding: 1rem 0rem;
        }
    }
    section.right{
        flex: 1 1 600px;
        position: relative;
        img{
            border-radius: 50%;
            width: 20vw;
            height: 20vw;
            object-fit: cover;
            position: absolute;
            top: 50vh;
            right: 25vw;
            transform: translateY(-50%);
        }
    }

    section.table{
        flex: 3 1 500px;
        padding: 1rem;
        table{
            border-collapse: collapse;
            tr{
                border-bottom: 2px solid gray;
                transition: all 0.2s ease;
                td{
                    padding: 1rem;
                }
                &:hover{
                    background-color: #fdbb95;
                }
            }
        }
    }

    section.picture{
        flex: 1 1 600px;
        position: relative;
        img{
            width: 30vw;
        }
        .orangeRect{
            width: 30vw;
            height: 50vh;
            background-color: #e08958;
            position: absolute;
            top: 30px;
            left: 80px;
            z-index: -1;
        }
    }

    section.form{
        flex: 1 1 500px;
        flex-wrap: wrap;
        form{
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5rem;
            div{
                margin-top: 0.5rem;
                label{
                    margin-right: 1rem;
                    font-size: 1.5rem;
                }
                input,
                textarea{
                    background-color: #ffc29f;
                    color: black;
                    font-size: 1.25rem;
                    padding: 0.5rem 0.25rem;
                    border: none;
                    width: 40vw;
                }
                textarea{
                    vertical-align: top;
                }
            }
            button{
                align-self: center;
                background-color: #e08958;
                color: white;
                border: none;
                cursor: pointer;
                padding: 0.75rem 1.5rem;
                font-size: 200%;
                margin: 0.5rem 0rem 0rem -3rem;
                border-radius: 10px;
            }
        }
    }

    div.line{
        width: 3px;
        background-color: gray;
    }

    section.contact{
        flex: 1 1 600px;
        display: flex;
        align-items: center;
        padding: 2rem;
        div.content{
            h2{
                margin: 1rem 0rem;
            }
        }
    }
}

.active{
    color: #e08958;
    border-bottom: 4px solid #e08958;
}

footer{
    a{
        padding: 1rem;
    }
}

@media screen and (max-width:1100px) {
    .orange{
        opacity: 0.5;
    }
    header{
        nav{
            ul{
                flex-direction: column;
                width: 40%;
                text-align: center;
                
                li{
                    background-color: #0B9890;
                    margin-top: 0.5rem;
                    padding: 1rem 0rem;
                    border-radius: 10px;
                }
            }
        }
    }
    main{
        section.right{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            img{
                position: static;
                transform: none;
                width: 30vw;
                height: 30vw;
            }
        }
        section.picture{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
            }
            .orangeRect{
                display: none;
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}