* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

img.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header nav {
  width: 100%;
  padding: 2rem;
}
header nav ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header nav ul li a:hover {
  color: yellowgreen;
  transition: all 0.3s ease;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.left h1 {
  font-size: 4rem;
  color: #e08958;
}
main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50vh;
  right: 25vw;
  transform: translateY(-50%);
}
main section.table {
  flex: 3 1 500px;
  padding: 1rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
main section.table table tr td {
  padding: 1rem;
}
main section.table table tr:hover {
  background-color: #fdbb95;
}
main section.picture {
  flex: 1 1 600px;
  position: relative;
}
main section.picture img {
  width: 30vw;
}
main section.picture .orangeRect {
  width: 30vw;
  height: 50vh;
  background-color: #e08958;
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}
main section.form {
  flex: 1 1 500px;
  flex-wrap: wrap;
}
main section.form form {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
}
main section.form form div {
  margin-top: 0.5rem;
}
main section.form form div label {
  margin-right: 1rem;
  font-size: 1.5rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: #ffc29f;
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 40vw;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  align-self: center;
  background-color: #e08958;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 200%;
  margin: 0.5rem 0rem 0rem -3rem;
  border-radius: 10px;
}
main div.line {
  width: 3px;
  background-color: gray;
}
main section.contact {
  flex: 1 1 600px;
  display: flex;
  align-items: center;
  padding: 2rem;
}
main section.contact div.content h2 {
  margin: 1rem 0rem;
}

.active {
  color: #e08958;
  border-bottom: 4px solid #e08958;
}

footer a {
  padding: 1rem;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    flex-direction: column;
    width: 40%;
    text-align: center;
  }
  header nav ul li {
    background-color: #0B9890;
    margin-top: 0.5rem;
    padding: 1rem 0rem;
    border-radius: 10px;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    transform: none;
    width: 30vw;
    height: 30vw;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 60%;
  }
  main section.picture .orangeRect {
    display: none;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */